/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html { 
  background: url(/content/frontend/assets/img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    overflow: hidden;
}
body {
    overflow: hidden;
}
div#primary_page_controller_wrapper {
    height: 100vh;
}
div#primary_page_controller_wrapper main {
    height: 100%;
}
section.home {
    height: 100%;
}
.wrapper_home {
    height: 88%;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



input {
    outline:0;
    letter-spacing: 0.5px;
    font-size:16px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

h1, h2, h4, h5, p, input {
    margin: 0;
    line-height: 1.5em;
    font-family: 'Frutiger LT Std';
    font-weight: 300;
}
h1, h2, h4, h5, p {
    text-transform: uppercase;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* ==========================================================================
   LOGIN PAGE
   ========================================================================== */
.login_page {
  background-image: url('../assets/img/login_hero.png');
  background-size: cover;
  background-color: #2c3a48c7;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
} 

.login {
  color: white;
  text-align: center;
}

.login h1 {
  font-weight: bold;
}